<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <title>
        The List
    </title>
    <script>
        $('form .importance').blur(function () {
            $(this).closest('form').submit();
        });
        $('form .date').blur(function () {
            $(this).closest('form').submit();
        });
    </script>
</head>

<body>
    <script type="text/javascript" src="/nav.js"></script>
    <nav>
        <a href="/weblist/catadd"> Categories </a> |
        <a href="/weblist/noteadd"> Add Note</a>
    </nav>
    <h1>
        The List
    </h1>
    <form action={{ip}} id=selector method="post">
        <select name="action" id="action" onchange="this.form.submit()">
            <option value="All" {% if selected=="All" %} selected="selected" {% endif %}>All</option>
            {% for name in names %}
            <option value={{name[0]}} {% if selected==name[0] %} selected="selected" {% endif %}>{{name[0]}}</option>
            {% endfor %}
            <option value="Hidden" disabled="True">----------</option>
            <option value="Hidden" {% if selected=="Hidden" %} selected="selected" {% endif %}>Hidden</option>
            <option value="Completed" {% if selected=="Completed" %} selected="selected" {% endif %}>Completed</option>
        </select>
        <noscript>
            <button action={{ip}} method="post">Submit</button>
        </noscript>

    </form>
    {% if dats != [] %}

    <table class="table table-striped table-sm">
        <tr>
            <th>Text</th>
            {% if detail == True %}
            <th>asd</th>
            {% endif %}
            <th>Importance</th>
            <th>Hidden</th>
            <th style="text-align:center">Remove</th>
        </tr>

        {% for dat in dats %}
        <tr>
            <td>
                <form action="{{ip}}" method="post">

                    <textarea name="content" type="text" style="width: 100%;height: 100%; border: 0; background: transparent">{{dat[0]}}</textarea>
                    <!-- outdated, for input  -->
                    <!-- <script>
                        $(document).ready(function () {
                            $("input[type='text']").each(function (index) {
                                $(this).attr("size", $(this).val().length + 5);
                            });
                            $("input[type='text']").bind('keyup', function () {
                                $(this).attr("size", $(this).val().length + 5);
                            });
                        });
                    </script> -->
            </td>
            {% if detail == True %}
            <td>
                asd
            </td>
            {% endif %}

            <td>
                <input value="{{dat[1]}}" name="importance" size="1" maxlength="2" style="border: 0; background: transparent">

            </td>
            <td>
                <!-- <input name="rowid"  {% if dat[3] == "True" %} hidden="True" {% endif %}  value="{{dat[2]}}"> -->
                <input name="rowid" hidden="True" value="{{dat[2]}}">
                <input type="checkbox" name="hidden" id="hidden{{dat[2]}}" {% if dat[3]=="True" %} checked {% endif %}>
                <input type="date" id="date{{dat[2]}}" name="date" {% if dat[3]=="True" %} hidden="True" {% endif %} value={{dat[4]}}>
                <input name="action" hidden="True" value="{{selected}}">
                <script>    
                    $('#date{{dat[2]}}').hide()
                    $('#hidden{{dat[2]}}').click(function () {
                        $('#date{{dat[2]}}')[this.checked ? "show" : "hide"]();
                    });

                </script>
            </td>
            <td>
                <div style="margin: 0 auto; width:50%;">
                    <button class=btn action="{{ip}}" value="{{dat[2]}}" name="Update" method="post" style="">Update</button>
                    </form>
                    <form action="{{ip}}" method="post" style="margin:5px 0px">
                        <button class=btn action="{{ip}}" value="{{dat[2]}}" name="Delete" method="post">Delete</button>
                        <input name="action" hidden="True" value="{{selected}}">
                    </form>
                    <form action="{{ip}}" method="post" style="margin:0px">
                        <button class=btn action="{{ip}}" value="{{dat[2]}}" name="Complete" method="post" style="">Complete</button>
                        <input name="action" hidden="True" value="{{selected}}">
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %} {% endif %}
    </table>
</body>

</html>